<settings>
    <setting propertyKey="@Properties.serverUrl" title="@Strings.ServerUrlTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.pairingCode" title="@Strings.PairingCodeTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>
